h1
	{
		Color:black;
		text-align: Center;
		

	}

form
	{
		Color:Black;
		text-align: Center;
		

	}


body
	{
		background: url(https://www.gauteng.net/uploads/legacy/_1200xAUTO_crop_center-center/Univ_PTA_Hi_Performance_CNT_1_1.jpg);
		
	}

.Jimmy
		{
			colour: red;
		}